@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset all kinds of inputs */
input:not([type="checkbox"]), textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  width: 100%;
}

:root {
    color-scheme: dark;
}


.button {
  @apply px-4 py-2 text-white border bg-neutral-800 border-neutral-700 focus:outline-none;
}