@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes error_wiggle {
    0% { transform: rotate(0deg); }
   5% { transform: rotate(5deg); }
   15% { transform: rotate(-5deg); }
   20% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.error_wiggle {
  animation-name: error_wiggle;
  animation-duration: 1000ms;
}

* {
  border-color: hsl(0, 0%, 20%);
}

input, textarea, code {
  background-color: transparent;
  color: inherit;
}

:root {
  color-scheme: dark;
}